{% extends "base.html" %}
{% load i18n %}

{% block content %}
                <a name="nouveau_message"> </a>
                <h2>{% trans "Contact a carpool user" %}</h2>

                <form action="" method="post" id="contact_form">
                    <fieldset id="contact_info">
                        <legend>{% trans "Contact form" %}</legend>
                        <p class="contact_info"><label>{% trans "From:" %}</label> <span>{{ from_user.username }}</span></p>
                        <p class="contact_info"><label>{% trans "To:" %}</label> <span>{{ to_user.username }}</span></p>
                        <p class="contact_info"><label>{% trans "Subject:"%}</label> <span>{{ trip }}</span></p>
                        {{ form.as_p }}
                    </fieldset>
                    <div class="form_buttons">
                        <input type="submit" id="btn_validate" class="form_button" value="{% trans "Send" %}" />
                    </div>
                </form>
                <p>
                    <span class="info">* {% trans "mandatory field" %}</span>
                </p>
{% endblock %}
