html, body {
    background-color: #fdea49;
    width: 135px;
    margin: 0;
    padding: 0;
}

html {
    font: normal 12px Arial, sans-serif;
    text-align: center;
}

/* elements */
img {
    border: none;
}

span.info {
    font-size: 10px;
    padding: 3px;
    color: #666;
}
p.service {
    font-size: 11px;
    padding: 3px;
}

/* forms */
form {
    text-align: center;
}
form label {
    font-style: normal;
    color: black;
}
form img {
    vertical-align: top;
}
form p {
    text-align: center;
    padding: 0;
}
input {
    width: 120px;
}
input.form_button {
    border: 1px solid #fc8a03;
    background-color: #fe9b21;
    color: white;
    margin-bottom: 3px;
    font-size: 11px;
}
input.form_button:hover {
    background-color: #fc8a03;
}

/* Auto complete */
div.autocomplete {
    position:absolute;
    text-align: left;
    background-color:white;
    border:1px solid #888;
    margin:0px;
    padding:0px;
    z-index: 1000;
    font-size: 11px;
}
div.autocomplete ul {
    list-style-type:none;
    margin:0px;
    padding:0px;
}
div.autocomplete ul li.selected { background-color: #ffb;}
div.autocomplete ul li {
    list-style-type:none;
    display:block;
    margin:0;
    padding:2px;
    cursor:pointer;
    font-style: normal;
    color: black;
}
