<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>bv.client</description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.SubversionSCM">
    <locations>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>https://github.com/bisonvert/bv.client.git</remote>
      </hudson.scm.SubversionSCM_-ModuleLocation>
    </locations>
    <useUpdate>true</useUpdate>
    <doRevert>false</doRevert>
    <excludedRegions></excludedRegions>
    <excludedUsers></excludedUsers>
    <excludedRevprop></excludedRevprop>
    <excludedCommitMessages></excludedCommitMessages>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector">
    <hudson.triggers.TimerTrigger>
      <spec>0 3 * * *</spec>
    </hudson.triggers.TimerTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>/opt/minitage/django/bv.client-prod/etc/hudson/bv.client/build/update_mrdeveloper.sh</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>/opt/minitage/django/bv.client-prod/etc/hudson/bv.client/build/update_project.sh</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>/opt/minitage/django/bv.client-prod/etc/hudson/build/build.sh</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>/opt/minitage/django/bv.client-prod/etc/hudson/bv.client/build/update_mrdeveloper.sh</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>/opt/minitage/django/bv.client-prod/etc/hudson/build/test.sh</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.junit.JUnitResultArchiver>
      <testResults>testhudsonxmlreports/**/*.xml</testResults>
      <testDataPublishers/>
    </hudson.tasks.junit.JUnitResultArchiver>
    <hudson.tasks.Mailer>
      <recipients>simon.thepot@makina-corpus.com</recipients>
      <dontNotifyEveryUnstableBuild>false</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>false</sendToIndividuals>
    </hudson.tasks.Mailer>
    <hudson.plugins.ircbot.IrcPublisher>
      <targets class="linked-list"/>
      <strategy class="hudson.plugins.im.NotificationStrategy">ALL</strategy>
      <notifyOnBuildStart>true</notifyOnBuildStart>
      <notifySuspects>true</notifySuspects>
      <notifyCulprits>true</notifyCulprits>
      <notifyFixers>true</notifyFixers>
      <notifyUpstreamCommitters>true</notifyUpstreamCommitters>
      <channels/>
    </hudson.plugins.ircbot.IrcPublisher>
  </publishers>
  <buildWrappers/>
</project>
