html {
    font: normal 12px "Trebuchet MS", Verdana, "Lucida Grande", Georgia, Sans-Serif;
    text-align: center;
}

/* Links */
a, a:link, a:visited {
    color: #0093D9;
    text-decoration: none;
}

a:hover, a:active {
    text-decoration: underline;
}

/* Elements */
img {
    border: none;
}

h2 {
    color: #00ABE2;
}

span.info {
    color: #6e6e6e;
}

/* Form */
input {
    border: 1px solid #999999;
    background-color: #f5f5f5;
}
input:hover {
    background-color: #e5e5e5;
    border: 1px solid #777777;
}

input.form_button {
    border: 1px solid #0093D9;
    background-color: #00ABE2;
    color: white;
}
input.form_button:hover {
    background-color: #0093D9;
}

/* Calendar */
.calendar td.selected a { background-color: #00ABE2; }
.calendar td a:hover, .timelist a:hover { background-color: #0093D9; color:white; }
.calendarbox .calendarnav-previous, .calendarbox .calendarnav-next { background-color:#00ABE2; color:white; }
.calendarnav-previous:hover, .calendarnav-next:hover { background-color:#0093D9; }
