{% extends "base.html" %}
{% load i18n %}

{% block content %}
                <h2>{% trans "Cancel a talk" %}</h2>

                <p>
                {% trans "Please give the reasons of this talk cancel. It will be forwarded to your carpool user contact." %}
                </p>

                <form action="" method="post" id="talk_cancel_form">
                    <fieldset id="cancel_info">
                        <legend>{% trans "Cancel information" %}</legend>
                        {{ form.as_p }}
                    </fieldset>
                    <div class="form_buttons">
                        <input type="submit" id="btn_validate" class="form_button" value="{% trans "Send" %}" />
                        &nbsp;&nbsp;
                        <input type="button" id="btn_cancel" class="form_button" value="{% trans "Cancel" %}" onclick="window.location='{% url talks:list 1 %}'" />
                    </div>
                </form>
                <p>
                    <span class="info">* {% trans "mandatory field" %}</span>
                </p>
{% endblock %}
