[minitage]
location=${buildout:directory}/../..
# site-packages

[libxml2]
# the path to find the libxml2 python bindings, maybe your global site-packages?
site-packages=${minitage:location}/eggs/py-libxml2-2.6/parts/site-packages-2.6

[libxslt]
# the path to find the libxslt python bindings, maybe your global site-packages?
site-packages=${minitage:location}/eggs/py-libxslt-1.1/parts/site-packages-2.6

[python2.6]
executable=${buildout:directory}/../../dependencies/python-2.6/parts/part/bin/python
python=python2.6
name=python2.6 

[buildout]
python=python2.6
eggs-directory=${minitage:location}/eggs/cache

[zopepy]
includes-dirs = 
    ${buildout:directory}/../../dependencies/cyrus-sasl-2.1/parts/part/include/sasl 
extra-paths+=
    ${libxml2:site-packages}
    ${libxslt:site-packages}  
