{% extends "ratings/base.html" %}
{% load i18n %}

{% block rating_content %}
                <h3>{% trans "My reports in progress" %}</h3>

                {% if ratings %}

                <table id="my_reports_list" class="pg_list">
                    <thead>
                        <tr>
                            <th><a href="{% url ratings:pending 1 %}{{ get_url_pg }}&order={% ifequal order 'departure' %}-{% endifequal %}departure"{% ifequal order 'departure' %} class="ascending"{% else %}{% ifequal order '-departure' %} class="descending"{% endifequal %}{% endifequal %}>{% trans "Departure" %}</a></th>
                            <th><a href="{% url ratings:pending 1 %}{{ get_url_pg }}&order={% ifequal order 'arrival' %}-{% endifequal %}arrival"{% ifequal order 'arrival' %} class="ascending"{% else %}{% ifequal order '-arrival' %} class="descending"{% endifequal %}{% endifequal %}>{% trans "Arrival" %}</a></th>
                            <th><a href="{% url ratings:pending 1 %}{{ get_url_pg }}&order={% ifequal order 'date' %}-{% endifequal %}date"{% ifequal order 'date' %} class="ascending"{% else %}{% ifequal order '-date' %} class="descending"{% endifequal %}{% endifequal %}>{% trans "Date" %}</a></th>
                            <th class="type"><a href="{% url ratings:pending 1 %}{{ get_url_pg }}&order={% ifequal order 'type' %}-{% endifequal %}type"{% ifequal order 'type' %} class="ascending"{% else %}{% ifequal order '-type' %} class="descending"{% endifequal %}{% endifequal %}>{% trans "Type" %}</a></th>
                            <th class="user"><a href="{% url ratings:pending 1 %}{{ get_url_pg }}&order={% ifequal order 'user' %}-{% endifequal %}user"{% ifequal order 'user' %} class="ascending"{% else %}{% ifequal order '-user' %} class="descending"{% endifequal %}{% endifequal %}>{% trans "Carpool user to rate" %}</a></th>
                            <th><a href="{% url ratings:pending 1 %}{{ get_url_pg }}&order={% ifequal order 'write_date' %}-{% endifequal %}write_date"{% ifequal order 'write_date' %} class="ascending"{% else %}{% ifequal order '-write_date' %} class="descending"{% endifequal %}{% endifequal %}>{% trans "Write dates" %}</a></th>
                            <th class="act">{% trans "Actions" %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for tempreport in ratings %}
                        <tr class="{% cycle 'row1' 'row2' %}{% if tempreport.opened %} opened{% endif %}">
                            <td>
                                {{ tempreport.departure_city }}
                                {% if tempreport.departure_address %}<br />{{ tempreport.departure_address }}{% endif %}
                            </td>
                            <td>
                                {{ tempreport.arrival_city }}
                                {% if tempreport.arrival_address %}<br />{{ tempreport.arrival_address }}{% endif %}
                            </td>
                            <td>
                                {% if tempreport.regular %}
                                {% trans "Regular" %}:
                                <br />
                                {{ tempreport.print_dows }}
                                {% else %}
                                {{ tempreport.date|date:"d/m/Y" }}
                                {% endif %}
                            </td>
                            <td>
                                {% ifequal tempreport.type 0 %}
                                {% trans "Offer" %}
                                {% else %}
                                {% ifequal tempreport.type 1 %}
                                {% trans "Demand" %}
                                {% else %}
                                {% trans "Both" %}
                                {% endifequal %}
                                {% endifequal %}
                            </td>
                            <td>
                                {% ifequal user.id tempreport.user1.id %}
                                {{ tempreport.user2.username }}
                                {% else %}
                                {{ tempreport.user1.username }}
                                {% endifequal %}
                            </td>
                            <td>
                                {{ tempreport.start_date|date:"d/m/Y" }} - {{ tempreport.end_date|date:"d/m/Y" }}
                            </td>
                            <td>
                                {% if tempreport.opened %}
                                {% ifequal tempreport.user1.id bvuser.id %}
                                {% if not tempreport.report1_creation_date %}
                                <a href="{% url ratings:rate_user tempreport.id %}" title="{% trans "Rate this carpool user" %}"><img src="{{ MEDIA_URL }}img/rate.png" alt="{% trans "Rate this carpool user" %}" /></a>
                                {% endif %}
                                {% else %}
                                {% if not tempreport.report2_creation_date %}
                                <a href="{% url ratings:rate_user tempreport.id %}" title="{% trans "Rate this carpool user" %}"><img src="{{ MEDIA_URL }}img/rate.png" alt="{% trans "Rate this carpool user" %}" /></a>
                                {% endif %}
                                {% endifequal %}
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                {% else %}
                {% trans "No Report in progress." %}
                {% endif %}
{% endblock %}
