########################################################################################################################
# Externals mr.developer products & software not packages as python eggs.
# see http://pypi.python.org/pypi/mr.developer for documentation
########################################################################################################################

[buildout]
sources=sources
sources-dir=${buildout:directory}/src.mrdeveloper
auto-checkout +=
# 
    bv.libclient
    django-oauthclient

[sources]
# 
bv.libclient = hg http://bitbucket.org/kiorky/bv.libclient  
django-oauthclient = hg http://bitbucket.org/bisonvert/django-oauthclient/  
# vim:set ft=cfg:
